*{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	background-color: rgb(38,81,117);
	width: 970px;
	font-family: "arial";
}
#logo{
	width:33%;
	display: inline-block;
	margin: 10px 0px 0px 10px;
}
#text{
	color: rgb(255,255,255);
	display: inline-block;
	vertical-align: top;
	padding-left: 100px;
}
#topright{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-left: 320px;
	margin-top: 10px;
}
.size{
	color: rgb(212,178,0);
}
#divider{
	color:black;
}
#search{
	display: inline-block;
	padding: 10px 40px;
	background-color: rgb(68,68,68);
	border-radius: 10px;
	vertical-align: top;
	width: 220px;
	box-shadow: 2px 2px 5px black;
}
#topnav{
	background-color: rgb(63,122,171);
	display: flex;
	text-align: center;
	border-radius: 10px;
	margin: 0px 25px 0px 50px;
	box-shadow: 2px 2px 5px black;
}
.section{
	text-decoration: none;
	display: flex;
	text-align: center;
	padding: 15px 30px;
	margin-left: 10px;
	font-size: 14pt;
	color: white;
}
#sidebar{
	text-decoration: underline;
	text-align: center;
	width: 300px;
	color:white;
	margin-left: 30px;
	list-style-position: inside;
	margin-top: 30px;
	display:inline-block;
	vertical-align: top;
}
.sidept{
	margin:8px;
}
#main{
	color: white;
	display: inline-block;
	text-align: center;
	width: 580px;
	margin-left: 30px; 
	margin-top: 30px;
	font-size: 10pt;
	margin-bottom: 20px; 
}
.quote{
	color: rgb(255,211,67);
	font-style: italic;
	list-style-position: inside;
	list-style-type: none;
	font-size: 14pt;
	margin: 8px;
}
#book{
	font-size: 12pt;
}
#whitebox{
	background-color: white;
	font-size: 11px;
	text-align: center;
	padding: 10px 30px;
	border-top: 5px solid rgb(26,56,82);
}
#firstbox{
	display: inline-block;
	width: 275px;
	vertical-align: top;
	margin-right: 150px;
}
#secondbox{
	display: inline-block;
	width: 250px;
	margin: 0px auto;
}
.bluebar{
	width: 370px;
	height: 5px;
	background-color: rgb(117,168,211);
	display: inline-block; 
}
.whitept{
	color: rgb(117,168,211);
	padding:1px;
	margin-left: 30px;
}
#footer{
	background: linear-gradient(rgb(39,83,119),rgb(54,117,170));
	text-align: center;
	margin-top: 40px;
	color: rgb(132,182,223);
	font-size: x-small;
	padding-left: 50px;
	padding-bottom: 10px
}
.footsec{
	display: inline-block;
	text-align: center;
	margin: 10px 40px;
	font-size: medium;
}
.whitelst{
	margin-left: 30px;
}
.whitep{
	margin-left: 25pt;
}
input{
	width: 150px;
	text-align: center;
	padding: 8px;
	box-shadow: 1px 1px 5px black;
}
button{
	width:40px;
	color: white;
	padding: 5px;
	background-color: rgb(38,81,117);
	box-shadow: 1px 1px 5px black;
	border-radius: 10px;
}
h3{
	font-size: 13pt;
	margin-bottom: 5px;
	margin-left: 25pt
}